[submodule "SFML/SFML"]
	path = SFML/SFML
	url = https://github.com/SFML/SFML.git
	branch = master
[submodule "SFML/Beginning-Cpp-Game-Programming-Second-Edition"]
	path = SFML/Beginning-Cpp-Game-Programming-Second-Edition
	url = https://github.com/PacktPublishing/Beginning-Cpp-Game-Programming-Second-Edition.git
	branch = master
